@import "./constants/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter-normal;
  font-style: normal;
}

body {
  padding: 28px 16px 80px;
}

.App {
  display: grid;
  @include for-size(tablet-landscape-up) {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  @include for-size(desktop-up) {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 30px;
    padding: 90px 165px;
  }
}
